{% extends 'base/base.html'%}
{% load i18n %}

{% block content %}

<div class="container">
<div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
    <div class="card card-signin my-5">
        <div class="card-body">
        <h5 class="card-title text-center">Sign Up</h5>
        <form class="form-signin" action="{% url 'account_signup' %}" method="POST">
            {% csrf_token %}
            {% if redirect_field_value %}
            <input type="hidden" name="next" value="{{ request.GET.next }}" />
            {% endif %}
            <p class="form-text error-text">
            {{ form.non_field_errors.as_text }}
            </p>
            <div class="form-label-group">
            <input type="email" id="inputEmail" class="form-control" placeholder="Email address" name="login" required autofocus>
            <label for="inputEmail">Email address</label>
            <p id="emailHelp" class="form-text error-text">
                {{ form.login.errors.as_text }}
            </p>
            </div>

            <div class="form-label-group">
            <input type="password" id="inputPassword" class="form-control" placeholder="New Password" name="password1" required>
            <label for="inputPassword">New Password</label>
            <p id="passwordHelp" class="form-text error-text">
                {{ form.password.errors.as_text }}
            </p>
            <input type="password" id="inputPassword" class="form-control" placeholder="Confirm Password" name="password2" required>
            <label for="inputPassword">Confirm Password</label>
            </div>


            <button class="primaryAction btn btn-lg btn-primary btn-block text-uppercase" type="submit">Sign Up</button>
            <hr class="my-4">
            {% load socialaccount %}
            <a href="{% provider_login_url 'google' %}" class="btn btn-lg btn-google btn-block text-uppercase" type="submit"><i class="fab fa-google mr-2"></i> Sign in with Google</a>
            <button class="btn btn-lg btn-facebook btn-block text-uppercase" type="submit"><i class="fab fa-facebook-f mr-2"></i> Sign up with Facebook</button>
        </form>
        <p>Already have an account? Then please <a href="{% url 'account_login' %}">sign in</a>.</p>
        </div>
    </div>
    </div>
</div>
</div>  
{% endblock %}